<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<configuration xmlns="Q.Configuration">
  <listeners>
    <listener type="socks" host="127.0.0.1" port="2000">
      <tunnel type="http" url="http://tunnel.apphb.com/tunnel" encrypted="false" />
    </listener>
    <listener type="http" host="127.0.0.1" port="1000" decryptSSL="false">
      <tunnel type="http" url="http://tunnel.apphb.com/tunnel" encrypted="false" />
      <!--<proxy type="socks" host="127.0.0.1" port="2000"/>-->
    </listener>
  </listeners>
  <dnshelper>
    <hosts>
      <add host="localhost" ip="127.0.0.1" />
    </hosts>
  </dnshelper>
  <logger>
    <add type="console" level="debug"/>
  </logger>
</configuration>
