<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- TunnelTimeout seconds default(600)-->
    <add key="TunnelTimeout" value="500" />
    <!-- TunnelCleanerCycle seconds default(600)-->
    <add key="TunnelCleanerCycle" value="600" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HttpTunnelHandler" path="/tunnel" verb="*" type="Q.Net.Web.HttpTunnelHandler, HttpTunnelWeb" />
      <add name="DebugHandler" path="/debug" verb="*" type="Q.Net.Web.DebugHandler, HttpTunnelWeb" />
    </handlers>
  </system.webServer>
</configuration>
