<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HttpTunnelHandler" path="/b" verb="*" type="Q.Net.Web.HttpTunnelHandler, HttpTunnelWeb" />
      <add name="DebugHandler" path="/debug" verb="*" type="Q.Net.Web.DebugHandler, HttpTunnelWeb" />
    </handlers>
    <modules>
      <add name="HttpTunnelModule" type="Q.Net.Web.HttpTunnelModule, HttpTunnelWeb" />
    </modules>
  </system.webServer>
</configuration>
