<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HttpTunnelHandler" path="/tunnel" verb="*" type="Q.Net.Web.HttpTunnelHandler, WebServer" />
      <add name="WebSocketHandler" path="/websocket" verb="*" type="Q.Net.Web.WebSocketHandler, WebServer" />
    </handlers>
  </system.webServer>
</configuration>
